# Data Understanding

**1.0. What is the domain area of the dataset?**  
The dataset can be applied in the game industry to generate insights such as *the effects of genre and platform on a game's success*!  

**1.1. Under which circumstances was it collected?**  
The meta data does not provide an explicit answer to this question. The dataset might be collected through sales figures, user ratings, or data from Steam!  
One way to answer this question is to contact the author or the publisher! (Andy Bramwell) [(https://data.world/bramwax)]  

**1.2. For which kind of task or purpose was the dataset collected?**  
The dataset contains sales data for video games! It includes data across different platforms, genres, and regions!  
The dataset was collected to provide insight into what makes a game successfull in today's gaming industry! 
***

**2.0. How many files does the dataset have?**  
The dataset folder contains one file!  

**2.1. Which data format?**  
The format of the dataset is *.csv*!  

**2.2. Do the files have headers or another file describing the data?**  
The files does have headers that describes the data! Each column has a name that describes the data it contains!  
There is also a table on the Kaggle website that provides further descriptions of the columns in the dataset!  

**2.3. Are the data values separated by commas, semicolon, or tabs?**  
The data values are separated by commas!  
Example: *0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28*!  

**2.4. Do you need to load and analyze all the files or just some of them contain valuable data?**  
This dataset contains only one file, So all the files or data is needed for analyzing and gaining insights!  
***

**3.0 How many features and how many observations does the dataset have?**  
The dataset has:  
* 13 features or columns!
* 1907 observations or rows!  
***

**4.0 Does it contain numerical features? How many? What are the feature names?**  
* Yes, It contains 8 numerical features!  
* Numerical Features names: Rank, Year, North America, Europe, Japan, Rest of World, Global and Review!  
***

**5.0. Does it contain categorical features?  How many? What are the feature names? Are they ordinal or nominal?**  
* Yes, the dataset contains 3 categorical features!
* Feature *Platform* is a nominal categorical variable! For example games can be categorized based on Xbox, PS, Wii and so on!  
* Feature *Genre* is also a nominal categorical variable! For example games can be categorized based on if there are ACTIONS, FIRST PERSON, STRATEGIC and so on!
* Feature *Publisher* is also a nominal categorical variable! For example games can be categorized based on if they have NINTENDO, EA, ROCKSTAR and so as their publisher!
***

**6.0. Does it contain binary features? How many?**  
The dataset does not contain *binary features*!  

**6.1. If it does not contain, which relevant binary feature could you create based on the existing variables?**  
For instance we can set a condition on the numerical feature *Year* to make it a binary feature!  
Like *Year < 2000* and *Year >= 2000*!  
The variable then can have the value of *zero* for years before 2000 and the value of *one* for years after or equals to 2000!  
***

# Exploratory Data Analysis (EDA)

In [2]:
# Importing necessary packages!
import pandas as pd
# Import visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Importing or reading the dataset!
games_dataset = pd.read_csv("Dataset/Video_Games_Sales.csv")

In [4]:
# Printing out first five observations of the dataset, to which types of data or features we have in the dataset!
games_dataset.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

* There are three column names that have more than 3 words and they are space separated!
* To make the dataset consistent in terms of column names, I'm removing the space between those words!

In [6]:
games_dataset.columns = games_dataset.columns.str.replace(' ', '')
# Getting the columns strings or names, then using python's in-built replace() function!
# Replace(the value that want to replace, the new value that we're going to have)!

games_dataset.head()

,index,Rank,GameTitle,Platform,Year,Genre,Publisher,NorthAmerica,Europe,Japan,RestofWorld,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [7]:
# Basic statistics measures of the dataset!
games_dataset.describe()

,index,Rank,Year,NorthAmerica,Europe,Japan,RestofWorld,Global,Review
count,1907.0000,1907.0000,1878.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,953.0000,954.0000,2003.766773,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,550.6478,5.895369,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,0.0000,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,476.5000,477.5000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,953.0000,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1429.5000,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1906.0000,1907.0000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

In [12]:
print(f"Number of features in the dataset is {games_dataset.shape[1]} and the number of observations/rows in the dataset is {games_dataset.shape[0]}")

Number of features in the dataset is 13 and the number of observations/rows in the dataset is 1907

### Dealing with missing values

In [13]:
games_dataset.isnull().sum()

index            0
Rank             0
GameTitle        0
Platform         0
Year            29
Genre            0
Publisher        2
NorthAmerica     0
Europe           0
Japan            0
RestofWorld      0
Global           0
Review           0
dtype: int64

* The features Year and Publisher contain missing values!  
* The feature *Year* has 29 missing values, so instead of dropping the observations, We're handling the missing values by imputations which means we are filling the missing values!  
* The feature *Publisher* has 2 missing values. I chose to drop the observations here instead of filling them in!  
    * The reasoning behind this is that it may not make sense to fill in the publisher name with the most common name or any other names!

In [15]:
# Column 'Year' has 29 missing values!
games_dataset['Year'] = games_dataset['Year'].fillna(games_dataset['Year'].mode()[0]) 
# mode() returns the most common values! Therefore we are filling the missing values in the column 'Year' with the most common value in this column!

In [16]:
print("Number of rows/observations before drop: ", games_dataset.shape[0])

# Using dropna() to drop observations that has missing values in the *Publisher* column!
# Also setting the argument *inplace* equals to *True* to make the changes explicitly into the dataset itself and not creating a new dataset!
games_dataset.dropna(subset=['Publisher'], inplace=True)

print("Number of rows/observations after drop: ", games_dataset.shape[0])

Number of rows/observations before drop:  1907
Number of rows/observations after drop:  1905

In [17]:
games_dataset.isnull().sum()

index           0
Rank            0
GameTitle       0
Platform        0
Year            0
Genre           0
Publisher       0
NorthAmerica    0
Europe          0
Japan           0
RestofWorld     0
Global          0
Review          0
dtype: int64

## Analyzing the effects of genre and platform on a game's success

#### **Question 1** What is the average global sales for each genre?

In [22]:
games_by_genre = games_dataset.groupby('Genre') #Grouping games by genres
average_globalSales_genres = games_by_genre['Global'].mean()
average_globalSales_genres

Genre
Action          2.317345
Adventure       2.176818
Fighting        1.968000
Misc            2.680000
Platform        3.166170
Puzzle          2.469318
Racing          2.429032
Role-Playing    2.868208
Shooter         2.704854
Simulation      2.229783
Sports          2.285505
Strategy        1.945000
Name: Global, dtype: float64